<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Github jx-moreno</h2>
            <h4>javiermorenoutnfrba@gmail.com</h4>
        </div>
        <img src="https://avatars.githubusercontent.com/u/128177296?v=4" alt="jx-moreno">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader class="subheader">Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader class="subheader">Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>



</mat-nav-list>